:root {
    --mainCol: rgb(48, 55, 79);
    --secondaryCol: #796972;
    --tertiaryCol: #b69fac;
    --lightCol: #F9E6D8;
    --acceptCol: lightgreen;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: url(./images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

button {
    border-style: none;
}

h1 {
    text-align: center;
    color: var(--lightCol);
    font-weight: 800;
}

#book-container {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
    grid-template-columns: repeat(auto-fit, 250px);
    grid-gap: 1em;
    justify-content: center;
    background-color: rgba(48, 55, 79, .8);
    padding: 15px;
}

.book {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 0.5fr 1fr 0.5fr 1fr 1fr;
    background-color: var(--lightCol);
    color: var(--mainCol);
    padding: 15px;
    border-radius: 15px;
}

.fa-solid.fa-trash {
    grid-column: 3 / 4;
    justify-self: end;
    color: rgba(48, 55, 79, .25);
}

.fa-solid.fa-trash:hover {
    color: rgba(48, 55, 79, 1);
}

.title {
    grid-column: span 3;
    justify-self: center;
    align-self: center;
    padding: 5px;
    border: solid var(--mainCol);
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: bold;
}

.by {
    display: grid;
    grid-column: 1 / 4;
    justify-self: center;
    align-self: center;
}

.author {
    grid-column: span 3;
    justify-self: center;
    font-weight: bold;
}

.pages {
    display: grid;
    grid-column: 1 / 2;
    align-items: center;
    
}

.read {
    grid-column: 3 / 4;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--mainCol);
    color: var(--lightCol);
}

.readTrue {
    background-color: var(--acceptCol);
    color: var(--mainCol)
}

.formButton {
    display: flex;
    justify-content: center;
}

#showForm {
    padding: 15px;
    border-radius: 25px;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: var(--lightCol);
    color: var(--mainCol);
    box-shadow: -4px 6px var(--mainCol);
    
}

#showForm:hover {
    cursor: pointer;
    transform: scale(1.2);
}

#showForm:hover .fa-solid.fa-plus {
    transform: rotate(180deg);
}

#showForm:active {
    transform: translateY(4px);
    box-shadow: none;
}

.fa-solid.fa-plus {
    transition: transform 0.3s ease-in-out;
}

#addBook {
    font-size: 1.2rem;
    font-weight: bold;
    border: solid var(--mainCol);
    border-radius: 15px;
    background-color: var(--lightCol);
    color: var(--mainCol);
}

#addBookForm {
    display: grid;
    grid-template-rows: 0.5 repeat(5, 1fr);
    padding: 50px;
}

legend {
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 25px;
}

label {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

input, 
textarea {
    width: 300px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #999;
    color: var(--mainCol);
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 5px;
}

textarea {
    vertical-align: top;
    height: 5em;
}

select {
    color: var(--mainCol);
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 5px;
}

#addReadStatus {
    padding: 10px;
    background-color: white;
}

.formButtons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.formButtons button{
    margin-top: 25px;
    border: solid var(--mainCol);
    border-radius: 25px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: var(--lightCol);
    color: var(--mainCol);
    padding: 5px 10px;
}

.formButtons button:hover {
    background-color: var(--mainCol);
    color: var(--lightCol);
}

.formButtons button:active {
    transform: translateY(4px);
}

#confirmBtn {
    background-color: var(--mainCol);
    color: var(--lightCol);
}

#confirmBtn:hover {
    background-color: var(--acceptCol);
    color: var(--mainCol);
}

.fa-github {
    color: var(--lightCol);
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
}
  
.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}

.footer {
    color: var(--lightCol);
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    font-size: 20px;
}