:root {
    --mainCol: rgb(48, 55, 79);
    --secondaryCol: #796972;
    --tertiaryCol: #b69fac;
    --lightCol: #F9E6D8;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: url(./images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

h1 {
    text-align: center;
    color: var(--lightCol);
    font-weight: 800;
}

#book-container {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
    grid-template-columns: repeat(auto-fit, 250px);
    grid-gap: 1em;
    justify-content: center;
    background-color: rgba(48, 55, 79, .8);
    padding: 15px;
}

.book {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr;
    background-color: var(--lightCol);
    color: var(--mainCol);
    padding: 15px;
    border-radius: 5%;
    border: solid var(--mainCol)
}

.fa-solid.fa-trash {
    grid-column: 3 / 4;
    justify-self: end;
    color: rgba(48, 55, 79, .25);
}

.fa-solid.fa-trash:hover {
    color: rgba(48, 55, 79, 1);
}

.title {
    grid-column: span 3;
    justify-self: center;
    padding: 5px;
    border: solid var(--mainCol);
    border-radius: 20%;
    font-size: 1.2rem;
}

.by {
    display: grid;
    grid-column: 1 / 4;
    justify-self: center;
    align-self: center;
}

.author {
    grid-column: span 3;
    justify-self: center;
    font-weight: bold;
}

.pages {
    display: grid;
    grid-column: 1 / 2;
    align-items: center;
    
}

.read {
    grid-column: 3 / 4;
}

.formButton {
    display: flex;
    justify-content: center;
}

#showForm {
    padding: 15px;
    border: solid var(--mainCol);
    border-radius: 25px;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: var(--lightCol);
    color: var(--mainCol);
}

#showForm:hover {
    background-color: var(--mainCol);
    color: var(--lightCol);
}

#showForm:active {
    transform: translateY(4px);
}

#addBook {
    font-size: 1.2rem;
    font-weight: bold;
    border: solid var(--mainCol);
    border-radius: 5px;
    background-color: var(--lightCol);
    color: var(--mainCol);
}

input {
    background-color: var(--tertiaryCol);
    color: var(--mainCol);
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 5px;
}

select {
    background-color: var(--tertiaryCol);
    color: var(--mainCol);
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 5px;
}

.formButtons button{
    padding: 5px;
    border: solid var(--mainCol);
    border-radius: 25px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: var(--lightCol);
    color: var(--mainCol);
}

.formButtons button:hover {
    background-color: var(--mainCol);
    color: var(--lightCol);
}

.formButtons button:active {
    transform: translateY(4px);
}
